$bgcolor: 					#f0f0f0;
$gray-dark:					#505050;
$gray-light:				#b0b0b0;
$free-color:				#a1c659;
$busy-color:				#fb0120;
$pending-color:				#fc6d24;
$unknown-color:				#505050;
$clicked-color:				#d381c3;

$base-font-color:			#e8e8e8;
$cyan-color:				#76c7b7;
$brown-color:				#be643c;
$black-color:				#000000;



// .base00 { color: #000000; }
// .base01 { color: #303030; }
// .base02 { color: #505050; }
// .base03 { color: #b0b0b0; }
// .base04 { color: #d0d0d0; }
// .base05 { color: #e0e0e0; }
// .base06 { color: #f5f5f5; }
// .base07 { color: #ffffff; }
// .base08 { color: #fb0120; }
// .base09 { color: #fc6d24; }
// .base0A { color: #fda331; }
// .base0B { color: #a1c659; }
// .base0C { color: #76c7b7; }
// .base0D { color: #6fb3d2; }
// .base0E { color: #d381c3; }
// .base0F { color: #be643c; }
