# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# A newline ending every file and trim trailing white spaces
[*]
insert_final_newline = true
trim_trailing_whitespace = true

# Set default charset
# Tab indentation (no size specified)
[*.js]
charset = utf-8
indent_style = tab

# Matches the exact file package.json
[package.json]
indent_style = space
indent_size = 2
